<div id="<%= dom_id post %>">
  <figure>
    <%= image_tag post.image, alt: post.title %>
  </figure>
  <div>公開日: <%= post.published_at ? l(post.published_at, format: :long) : '—' %></div>
  <div><%= render_markdown(post.body) %></div>

</div>
